@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="pid" name="游戏ID" value="${item.pid}" underline="true"/>
                            <#input id="issue" name="期号ID" value="${item.issue}" underline="true"/>
                            <#input id="rid" name="房间ID" value="${item.rid}" underline="true"/>
                            <#input id="uid" name="玩家ID" value="${item.uid}" />
                </div>

                <div class="col-sm-6">
                            <#input id="ruid" name="下注规则" value="${item.ruid}" underline="true"/>
                            <#input id="money" name="下注金额" value="${item.money}" underline="true"/>
                            <#input id="status" name="状态（1=已中奖 2=未中奖 3=待开奖 4=已撤单）" value="${item.status}" underline="true"/>
                            <#input id="createTime" name="下注时间" value="${item.createTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StakesInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StakesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/game/stakes/stakes_info.js"></script>
@}
