@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="FID" value="${item.id}" underline="true"/>
                            <#input id="uid" name="UID" value="${item.uid}" underline="true"/>
                            <#input id="money" name="交易金额" value="${item.money}" underline="true"/>
                            <#input id="afterMoney" name="交易后余额" value="${item.afterMoney}" underline="true"/>
                            <#input id="type" name="交易类型（1=支出 2=收入）" value="${item.type}" />
                </div>

                <div class="col-sm-6">
                            <#input id="businessType" name="业务类型（1=充值 2=提现 3=业务 4=提成 5=分红 6=介绍 7=返水 8=活动）" value="${item.businessType}" underline="true"/>
                            <#input id="businessid" name="业务 I D" value="${item.businessid}" underline="true"/>
                            <#input id="businessInfo" name="业务详情" value="${item.businessInfo}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FlowingInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FlowingInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/game/flowing/flowing_info.js"></script>
@}
